*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Fira Sans', sans-serif;
}
/* Header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    width: 150px;
}
nav.menyutvid{
    display: none;
    height: 0;
}
input#bars:checked ~ nav.menyutvid{
    display: block;
}
.meny{
    display: block;
    position: relative;
    top: 50px;
    right: 50px;
    z-index: 1;
}
nav.menyutvid a{
    text-decoration: none;
    color: black;
    font-size: 2em;
}
nav.menyutvid li a:hover{
    color: #959A9C;
}
.menyutvid li{
    padding: 10px 0;
}
input#bars{
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
nav.menyutvid ul{
    list-style-type: none;
    background: #EDE3DD;
}
label[for=bars]{
    font-size: 2em;
    z-index: 1;
    position: absolute;
    top: 20px;
    right: 30px;
}

/* Footer */

footer{
    background-color: #959A9C;
}
h2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
    text-align: left;
}
p, #newsbox, #signup, .linktext, #pforside, #message{
    font-family: 'PT Serif', serif;
    font-size: 20px;
    text-align: left;
}
.location, .hours, .newsletter, .links{
    padding: 35px 0 0 35px;
}
#newsbox{
    height: 25px;
    outline: none;
    background: #EDE3DD;
}
#newspad{
    padding-bottom: 10px;
}
#signup, #messagebut, #calbut, #submit{
    text-decoration: none !important;
    border: 4px solid #d7c49e;
    background: #d7c49e;
    border-radius: 6px;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
}
#signup:hover, #messagebut:hover, #calbut:hover, #submit:hover{
    color: #d7c49e;
    background: #736F4C;
    border: 4px solid #736F4C;
}
.linktext a{
    font-weight: bold;
    text-decoration-color: #EDE3DD;
    color: black;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}
.linktext a:hover{
    color: #EDE3DD;
    text-decoration: none;
}
.footicon{
    font-size: 2rem;
    text-align: right;
}

/* Forside */

#topbilde{
    object-fit: cover;
    width: 100%;
    max-height: 700px;
}
#toptxt{
    text-align: center;
    padding: 10px 0 10px 0;
    background: lightgray;
}
#pforside{
    padding: 0 0 30px 5px;
    line-height: 1.5;
    word-spacing: normal;
}
#bildeforside{
    width: 100%;
    max-width: 400px;
    max-height: 265px;
    
}
.flex{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#imgtxtforside{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.padexp, .padexhi, .padevent, .padvisit, .padinvolved{
    padding-bottom: 80px;
}

/* Explore */

#forkids, #forresearchers{
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    padding-right: 5px;
}
#exploreh2{
    padding: 20px 0 0 5px;
}
.exploreflex, .visitflex, .supportflex, .flexcal{
    display: flex;
    flex-direction: row;
}
#forkidstxt{
    max-width: 200px;
    padding-left: 5px;
}
#forkidstxt2, #teacherstxt3, #reasearcherstxt2{
    padding: 10px 0 0 5px;
    max-width: 400px;
}
#mammoth{
    width: 100%;
    max-width: 300px;
    padding-left: 5px;
}
.messagearea, .visitflex, #visith2, #supportp2, #supporth2{
    padding-left: 5px;
}
#message{
    outline: none;
    background: #EDE3DD;
    max-width: 300px;
}
.padbut{
    padding: 10px 0 0 30px;
}
#forteachers{
    width: 100%;
    max-width: 200px;
    max-height: 250px;
}
#txtteachers, #txtreasearchers{
    padding-left: 5px;
    max-width: 200px;
}
#teacherstxt2{
    padding-left: 5px;
    max-width: 400px;
}
#reasearcherstxt2{
    padding-bottom: 30px;
}

/* Exhibition Spaces */

#exhibtopbilde, #visittopbilde{
    object-fit: cover;
    width: 100%;
    max-height: 250px;
}
#exhibbilde, #eventbilde{
    width: 100%;
    max-width: 350px;
    padding-top: 20px;
}
.centerexhib, .centerevent{
    text-align: center;
}
#exhibh2, #exhibp1, #exhibp2, #eventh2, #eventp{
    padding-left: 13px;
    padding-bottom: 10px;
}
#exhibp2{
    padding-top: 10px;
}

/* Special Events and Exhibition */


/* Visit */

#calendarbilde{
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    border-radius: 6px;
}
#calbut{
    margin: 0px;
}
.cal{
    text-align: center;
    padding-right: 5px;
}
.calbutwidth{
    width: 140px;
    border: 4px solid #d7c49e;
    background: #d7c49e;
    border-radius: 6px;
}
#laguneveien{
    width: 100%;
    max-width: 350px;
}
#visitp2, #visitp1, #supportp1{
    padding: 0 0 25px 5px;
}
#supportbilde{
    width: 100%;
    max-width: 150px;
    padding-right: 5px;
}

/* Contact */

#name, input[type=password], input[type=email], input[type=tel], #message{
    width: 100%;
    border: 2px solid #d7c49e;
    border-radius: 2px;
    padding: 20px;
    box-sizing: border-box;
    resize: vertical;
    margin: 5px 0 20px 0;
    font-family: 'PT Serif', serif;
    font-size: 1.em;
    font-weight: bold;
    max-width: 375px;
    display: block;
}
#text{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 1.3em;
}
#msg{
    background: white;
    min-width: 375px;
}
.submitpad{
    padding-bottom: 20px;
}
.contact{
    text-align: center;
    text-align: -webkit-center;
}
#shop{
    display: none;
}

/* Calendar */

#calul{
    list-style-type: none;
}
.month{
    padding: 60px 0 40px;
    width: 100%;
    background: #d7c49e;
    text-align: center;
}
.month ul li{
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}
.month .prev{
    float: left;
    padding: 10px 0 0 5px;
}
.month .next{
    float: right;
    padding: 10px 5px 0 0;
}
.week{
    padding: 13px 0;
    background-color: #959A9C;
}
.week li{
    display: inline-block;
    width: 13%;
    color: rgb(226, 225, 223);
    text-align: center;
}
.days{
    padding: 10px 0;
    background: #EDE3DD;
}
.days li{
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(78, 105, 102);
}
.days li .active{
    padding: 6px;
    background: #959A9C;
    color: white !important;
}
.prof, .nightmuseum, .energy{
    padding: 6px;
    color: white;
}
.prof{
    background: rgb(53, 116, 155);
}
.profvisit, .night, .energeticaex{
    height: 25px;
    width: 25px;
    margin-left: 5px;
}
.profvisit{
    background-color: rgb(53, 116, 155);
}
.night{
    background-color: #583a3a;
}
.nightmuseum{
    background: #583a3a;
}
.energeticaex{
    background-color: burlywood;
}
.energy{
    background: burlywood;
    padding: 6px 11px 6px 11px;
}

/* Tablet */

    /* Header */

@media screen and (min-width: 450px){
    #logo{
        width: 200px;
    }
}
@media screen and (min-width: 1000px){
    #logo{
        width: 300px;
    }
}
@media screen and (min-width: 450px){
    label[for=bars]{
        top: 50px;
    }
}
@media screen and (min-width: 1000px){
    label[for=bars]{
        top: 80px;
        font-size: 4em;
    }
}
@media screen and (min-width: 1000px){
    nav.menyutvid a{
        font-size: 3.3em;
    }
}

    /* Footer */

@media screen and (min-width: 1000px){
    .footerh2{
        font-size: 3.3em;
    }
}
@media screen and (min-width: 1000px){
    #footerp, #signup, #newsbox, .footicon{
        font-size: 2em;
    }
}
    /* Forside */

@media screen and (min-width: 450px){
    #bildeforside{
        max-width: 600px;
        max-height: 400px;
    }
}
@media screen and (min-width: 1000px){
    #bildeforside{
        max-width: 760px;
        max-height: 540px;
    }
}
@media screen and (min-width: 450px){
    #imgtxtforside, #eventh2, #exhibh2, #exploreh2, .visithours, #visith2, #supporth2, #contacth1{
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 450px){
    #pforside, #eventp, #exhibp1, #exhibp2, .exploresize, #visitp1, #visitp2, #psize, #supportp1, #supportp2{
        font-size: 25px;
    }
}
@media screen and (min-width: 450px){
    #toptxt{
        font-size: 3rem;
    }
}
@media screen and (min-width: 1000px){
    #toptxt{
        font-size: 4rem;
    }
}
@media screen and (min-width: 1000px){
    #pforside, #eventp, #exhibp1, #exhibp2, .exploresize, #visitp1, #visitp2, #psize, #supportp1, #supportp2{
        font-size: 35px;
    }
}
@media screen and (min-width: 1000px){
    #imgtxtforside, #eventh2, #exhibh2, #exploreh2, .visithours, #visith2, #supporth2, #contacth1{
        font-size: 3.5rem;
    }
}
@media screen and (min-width: 1000px){
    #forkidstxt{
        max-width: 900px;
    }
}
@media screen and (min-width: 1000px){
    #forkids{
        padding: 0 40px 0 5px;
    }
}
@media screen and (min-width: 1000px){
    #topbilde, #exhibtopbilde, #visittopbilde{
        max-height: 700px;
    }
}
    

    /* Visit */

@media screen and (min-width: 450px){
    .grid{
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media screen and (min-width: 450px){
    .visitflex{
        flex-direction: column;
    }
}
@media screen and (min-width: 450px){
    .cal{
        text-align: left;
    }
}
@media screen and (min-width: 450px){
    #visith2, .visithours{
        padding-top: 30px;
    }
}
@media screen and (min-width: 450px){
    #shop{
        display: block;
        width: 100%;
        max-width: 350px;
        padding: 0 5px 0 5px;
    }
}
@media screen and (min-width: 450px){
    .visitflex, #visith2, #visitp1, #laguneveien, #shop, #visitp2, #mammoth, #forkidstxt2, #teacherstxt2, #teacherstxt3, #reasearcherstxt2, #txtteachers, #txtreasearchers, #forkidstxt, #exploreh2, .messagearea, #supporth2, #supportp1, #supportp2, #contacth1{
        padding-left: 35px;
    }
}
@media screen and (min-width: 1000px){
    #laguneveien, #shop{
        max-width: 420px;
    }
}


    /* Explore */

@media screen and (min-width: 450px){
    #forkids{
        max-width: 350px;
        max-height: 250px;
        padding-left: 100px;
    }
}
@media screen and (min-width: 450px){
    #forkidstxt2, #teacherstxt2, #teacherstxt3, #reasearcherstxt2{
        max-width: 700px;
    }
}
@media screen and (min-width: 1000px){
    #forkidstxt2, #teacherstxt2, #teacherstxt3, #reasearcherstxt2{
        max-width: 900px;
    }
}
@media screen and (min-width: 450px){
    #txtteachers, #txtreasearchers{
        max-width: 290px;
    }
}
@media screen and (min-width: 1000px){
    #txtteachers, #txtreasearchers{
        max-width: 590px;
    }
}
@media screen and (min-width: 450px){
    #mammoth{
        max-width: 700px;
    }
}
@media screen and (min-width: 1000px){
    #mammoth{
        max-width: 900px;
    }
}
@media screen and (min-width: 450px){
    #forteachers{
        max-height: 280px;
        max-width: 280px;
    }
}
@media screen and (min-width: 450px){
    #forresearchers{
        max-width: 300px;
    }
}
@media screen and (min-width: 1000px){
    #messagebut{
        font-size: 35px;
    }
}

    /* Exhibiton Spaces */

@media screen and (min-width: 450px){
    #exhibbilde, #eventbilde{
        max-width: 693px;
        max-height: 650px;
    }
}
@media screen and (min-width: 450px){
    #exhibh2, #exhibp1, #exhibp2, #eventh2, #eventp{
        max-width: 693px;
    }
}
@media screen and (min-width: 1000px){
    #exhibh2, #exhibp1, #exhibp2, #eventh2, #eventp{
        max-width: 950px;
    }
}
@media screen and (min-width: 1000px){
    #exhibbilde, #eventbilde{
        max-width: 950px;
    }
}

    /* Get Involved */

@media screen and (min-width: 450px){
    #supportbilde{
        max-width: 230px;
        padding-right: 80px
    }
}
@media screen and (min-width: 450px){
    #supportp2, #supportp1{
        max-width: 650px;
    }
}

    /* Contact us */

@media screen and (min-width: 450px){
    #name, #message{
        max-width: 530px;
        padding: 30px;
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1000px){
    #name, #message{
        max-width: 630px;
        font-size: 2rem;
    }
}
@media screen and (min-width: 450px){
    #text{
        font-size: 1.8rem;
    }
}
@media screen and (min-width: 1000px){
    #text{
        font-size: 3rem;
    }
}
@media screen and (min-width: 1000px){
    #submit{
        font-size: 3rem;
    }
}

    /* Calendar */

@media screen and (min-width: 1000px){
    .week li, .days li, #calsize{
        font-size: 40px;
    }
}
@media screen and (min-width: 1000px){
    .month ul li{
        font-size: 50px;
    }
}
@media screen and (min-width: 1000px){
    .profvisit, .night, .energeticaex{
        height: 45px;
        width: 45px;
    }
}


/* Desktop */

    /* Header */

.headmenu, .headmenuright{
    display: none;
}
@media screen and (min-width: 1200px){
    .meny{
        display: none;
    }
}
@media screen and (min-width: 1200px){
    .headmenu, .headmenuright{
        display: block;
    }
}
@media screen and (min-width: 1200px){
    .headmenu a{
        color: black;
        text-decoration: none;
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.7em;
        padding: 40px;
    }
}
@media screen and (min-width: 1200px){
    .headmenu a:hover, .headmenuright a:hover{
        color: #EDE3DD;
        
    }
}
@media screen and (min-width: 1200px){
    .headmenu{
        padding-top: 100px;
    }
}
@media screen and (min-width: 1200px){
    #logo{
        width: 200px;
    }
}
@media screen and (min-width: 1200px){
    .headmenuright a{
        color: black;
        text-decoration: none;
        font-size: 1.3rem;
        font-family: 'Fira Sans', sans-serif;
        padding-left: 5px;
        padding-right: 5px;
    }
}

    /* Footer */

@media screen and (min-width: 1200px){
    .footerflex{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width: 1200px){
    .footerh2{
        font-size: 2rem;
    }
}
@media screen and (min-width: 1200px){
    #footerp{
        font-size: 1.5rem;
    }
}

    /* Forside */

@media screen and (min-width: 1200px){
    #toptxt{
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 1200px){
    #pforside{
        font-size: 20px;
        max-width: 1000px;
        padding-left: 25%;
    }
}
@media screen and (min-width: 1200px){
    .flexforside{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media screen and (min-width: 1200px){
    #bildeforside{
        max-height: 400px;
        max-width: 400px;
        min-width: 400px;
        min-height: 400px;
    }
}
@media screen and (min-width: 1200px){
    .imgtxtforside{
        display: block;
    }
}
@media screen and (min-width: 1200px){
    #topbilde, #visittopbilde{
        max-height: 600px;
    }
}

    /* Visit */

@media screen and (min-width: 1200px){
    #toptxt{
        font-size: 2rem;
    }
}
@media screen and (min-width: 1200px){
    #pforside, #eventp, #exhibp1, #exhibp2, .exploresize, #visitp1, #visitp2, #psize, #supportp1, #supportp2{
        font-size: 20px;
    }
}
@media screen and (min-width: 1200px){
    #imgtxtforside, #eventh2, #exhibh2, #exploreh2, .visithours, #visith2, #supporth2, #contacth1{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 1200px){
    .grid{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
@media screen and (min-width: 1200px){
    #shop{
        display: none;
    }
}
#back{
    background: #EDE3DD;
}
.heightaccess{
    min-height: 218px;
}

    /* Explore */

@media screen and (min-width: 1200px){
    .paddingex{
        padding-left: 25%;
    }
}
@media screen and (min-width: 1200px){
    #forkids{
        display: none;
    }
}
@media screen and (min-width: 1200px){
    .exploreflex{
        display: inline-block;
        
    }
}
@media screen and (min-width: 1200px){
    #forresearchers{
        padding-left: 6%;
    }
}

    /* Exhibition Spaces */

@media screen and (min-width: 450px){
    #exhibh2, #exhibp1, #exhibp2, #eventh2, #eventp{
        padding: 0px;
    }
}
.center{
    text-align: -webkit-center;
}

    /* Get Involved */

@media screen and (min-width: 1200px){
    .flexsup, #supporth2, #supportp2{
        text-align: -webkit-center;
        padding: 0;
    }
}

    /* Contact us */

@media screen and (min-width: 1200px){
    #text, #name, #message, #submit{
        font-size: 1.5rem;
    }
}