*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Fira Sans', sans-serif;
}
/* Header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    width: 200px;
}
nav.menyutvid{
    display: none;
    height: 0;
}
input#bars:checked ~ nav.menyutvid{
    display: block;
}
.meny{
    display: block;
    position: relative;
    top: 50px;
    right: 50px;
    z-index: 1;
}
nav.menyutvid a{
    text-decoration: none;
    color: black;
    font-size: 2em;
}
nav.menyutvid li a:hover{
    color: #959A9C;
}
.menyutvid li{
    padding: 10px 0;
}
input#bars{
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
nav.menyutvid ul{
    list-style-type: none;
    /* width: 300px;  max-content   */
    background: #EDE3DD;
}
label[for=bars]{
    font-size: 2em;
    z-index: 1;
    position: absolute;
    top: 50px;
    right: 50px;
}

/* Footer */

footer{
    background-color: #959A9C;
}
h2{
    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
}
p, #newsbox, #signup, .linktext, #pforside, #message{
    font-family: 'PT Serif', serif;
    font-size: 20px;
}
.location, .hours, .newsletter, .links{
    padding: 35px 0 0 35px;
}
#newsbox{
    height: 25px;
    outline: none;
    background: #EDE3DD;
}
#newspad{
    padding-bottom: 10px;
}
#signup, #messagebut{
    text-decoration: none !important;
    border: 4px solid #d7c49e;
    background: #d7c49e;
    border-radius: 6px;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 20px;
}
#signup:hover{
    color: #d7c49e;
    background: #736F4C;
    border: 4px solid #736F4C;
}
.linktext a{
    font-weight: bold;
    text-decoration-color: #EDE3DD;
    color: black;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}
.linktext a:hover{
    color: #EDE3DD;
    text-decoration: none;
}
.footicon{
    font-size: 2rem;
    text-align: right;
}

/* Forside */

#topbilde{
    object-fit: cover;
    width: 100%;
    max-height: 700px;
}
#toptxt{
    text-align: center;
    padding: 10px 0 10px 0;
}
#pforside{
    padding-bottom: 30px;
    line-height: 1.5;
    word-spacing: normal;
}
#bildeforside{
    width: 100%;
    max-width: 400px;
    max-height: 265px;
}
.padimgexp{
    padding-top: 40px;
}
.flex{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#imgtxtforside{
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
.padexp, .padexhi, .padevent, .padvisit, .padinvolved{
    padding-bottom: 80px;
}

/* Explore */

#forkids, #forresearchers{
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    padding-right: 5px;
}
#exploreh2{
    padding: 5px 0 0 50px;
}
.exploreflex{
    display: flex;
    flex-direction: row;
}
#forkidstxt{
    max-width: 200px;
    padding-left: 5px;
}
#forkidstxt2, #teacherstxt3, #reasearcherstxt2{
    padding: 10px 0 0 50px;
    max-width: 400px;
}
#mammoth{
    width: 100%;
    max-width: 300px;
    padding-left: 50px;
}
.messagearea{
    padding-left: 50px;
}
#message{
    outline: none;
    background: #EDE3DD;
    max-width: 300px;
}
.padbut{
    padding: 10px 0 0 30px;
}
#forteachers{
    width: 100%;
    max-width: 200px;
    max-height: 250px;
}
#txtteachers, #txtreasearchers{
    padding-left: 50px;
    max-width: 200px;
}
#teacherstxt2{
    padding-left: 50px;
    max-width: 400px;
}
#reasearcherstxt2{
    padding-bottom: 30px;
}

/* Exhibition Spaces */

